# Assignment-2

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\hp\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [95]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Now we will download the webDriver for the web Browser.Steps for download are-
1.Check the version of your browser
2.go to the link https://chromedriver.chromium.org/downloads
3.Download the web driver for your version of your browser.

In [96]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\internship\chromedriver.exe")

In [4]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

##### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [5]:
#Opening the naukri page on automated chrome browser
driver.get ("https://www.naukri.com/")

In [6]:
# Entering the designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
#creating the dataframe from above data.
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})

In [13]:
df

,Job_title,job_location,company_name,Exp_required
0,Associate Healthcare Research and Data Analyst,Bangalore/Bengaluru,Clarivate,0-2 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
4,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
5,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
6,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
7,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs
8,Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-7 Yrs
9,Sr Data Analyst - Tableau,Bangalore/Bengaluru,S.A.W IT Services Pvt Ltd,2-5 Yrs

##### Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

##### Answer:- 2

In [14]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [15]:
#Opening the naukri page on automated chrome browser

driver.get ("https://www.naukri.com/")

In [16]:
# Entering the designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [17]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [18]:
search=driver.find_element(By.CLASS_NAME,"keywordSugg")
search.click()

In [19]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [22]:
#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [23]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [24]:
#creating the dataframe from above data.
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})

In [25]:
df

,Job_title,job_location,company_name,Exp_required
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
1,Data Scientist,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed...",Tata Nexarc,4-8 Yrs
2,Data Scientist,"Nagpur, Pune, Bangalore/Bengaluru",Tech Mahindra,5-8 Yrs
3,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS,3-4 Yrs
4,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree,5-10 Yrs
5,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",Bizongo,3-6 Yrs
6,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes,6-8 Yrs
7,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs
8,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
9,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture,4-6 Yrs

##### Ques-3 In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

##### Answer-3

In [42]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [43]:
#Opening the naukri page on automated chrome browser

driver.get ("https://www.naukri.com/")

In [44]:
# Entering the designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [45]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [46]:
search=driver.find_element(By.CLASS_NAME,"keywordSugg")
search.click()

In [47]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
job_salary=[]

In [48]:
#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    
#scraping Job salary for the given page
salary_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi salary']")
for i in salary_tags[0:10]:
    sal=i.text
    job_salary.append(sal)

In [49]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(job_salary))

10 10 10 10 10

In [50]:
#creating the dataframe from above data.
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required,'job_salary':job_salary})

In [51]:
df

,Job_title,job_location,company_name,Exp_required,job_salary
0,Artificial Intelligence/Computer Vision Engine...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Vicara,1-3 Yrs,Not disclosed
1,Data Activation Specialist - Adobe Target,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",Okda Solutions,7-10 Yrs,Not disclosed
2,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs,Not disclosed
3,Data Scientist - Engine Algorithm,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",Primo Hiring,1-3 Yrs,Not disclosed
4,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs,Not disclosed
5,Data Scientist - Supply Chain,Bangalore/Bengaluru,Cargill,3-5 Yrs,Not disclosed
6,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs,Not disclosed
7,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs,Not disclosed
8,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs,Not disclosed
9,Data Scientist/Sr. Data Scientist,Bangalore/Bengaluru,Synechron,5-10 Yrs,Not disclosed

##### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

##### Answer-4

In [52]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [53]:
#Opening the naukri page on automated chrome browser

driver.get ("https://www.flipkart.com/")

In [54]:
# Entering the products and brand as required in the question-

product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [55]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [56]:
brand=[]

In [57]:
#scraping the brand of the product

for page in range(0,3):
    a=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in a:
        brand.append(i.text)
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(3)

In [58]:
len(brand)

120

In [59]:
brand=brand[0:100]

In [60]:
#creating the dataframe from above data.
df=pd.DataFrame({'brand':brand})

In [61]:
df

             brand
0   ROZZETTA CRAFT
1   ROZZETTA CRAFT
2       LIZA ANGEL
3         Fastrack
4        Elligator
..             ...
95        Fastrack
96        TheWhoop
97  ROZZETTA CRAFT
98       Elligator
99       New Specs

[100 rows x 1 columns]

In [62]:
Product_Description=[]
for page in range(0,3):
    b=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in b:
        Product_Description.append(i.text)

In [63]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [64]:
len(Product_Description)

120

In [65]:
Product_Description=Product_Description[0:100]
Product_Description

['UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Riding Glasses Cat-eye Sunglasses (55)',
 'Polarized, UV Protection Retro Square, Over-sized, Rect...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer, Rect...',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (52)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'Polarized, UV Protection, Gradient, Riding Glasses Oval...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'Others Spectacle Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Riding Glasses Cat-eye Sunglasses (55)',
 'Polarized, UV Protection Retro Square, Over-sized, Rect...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer, Rect...',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (52)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'Polarized, UV Protection, Gradient, Riding Glasses Oval...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'Others Spectacle Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Riding Glasses Cat-eye Sunglasses (55)',
 'Polarized, UV Protection Retro Square, Over-sized, Rect...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer, Rect...',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (52)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'Polarized, UV Protection, Gradient, Riding Glasses Oval...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)']

In [66]:
Price=[]
for page in range(0,3):
    c=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in c:
        Price.append(i.text)

In [67]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [68]:
len(Price)

120

In [69]:
Price=Price[0:100]

In [70]:
Price

['₹549',
 '₹399',
 '₹489',
 '₹129',
 '₹149',
 '₹129',
 '₹599',
 '₹399',
 '₹539',
 '₹159',
 '₹278',
 '₹289',
 '₹129',
 '₹129',
 '₹539',
 '₹149',
 '₹497',
 '₹269',
 '₹149',
 '₹259',
 '₹806',
 '₹699',
 '₹179',
 '₹286',
 '₹599',
 '₹479',
 '₹849',
 '₹284',
 '₹479',
 '₹283',
 '₹719',
 '₹447',
 '₹664',
 '₹257',
 '₹779',
 '₹479',
 '₹474',
 '₹413',
 '₹129',
 '₹149',
 '₹549',
 '₹399',
 '₹489',
 '₹129',
 '₹149',
 '₹129',
 '₹599',
 '₹399',
 '₹539',
 '₹159',
 '₹278',
 '₹289',
 '₹129',
 '₹129',
 '₹539',
 '₹149',
 '₹497',
 '₹269',
 '₹149',
 '₹259',
 '₹806',
 '₹699',
 '₹179',
 '₹286',
 '₹599',
 '₹479',
 '₹849',
 '₹284',
 '₹479',
 '₹283',
 '₹719',
 '₹447',
 '₹664',
 '₹257',
 '₹779',
 '₹479',
 '₹474',
 '₹413',
 '₹129',
 '₹149',
 '₹549',
 '₹399',
 '₹489',
 '₹129',
 '₹149',
 '₹129',
 '₹599',
 '₹399',
 '₹539',
 '₹159',
 '₹278',
 '₹289',
 '₹129',
 '₹129',
 '₹539',
 '₹149',
 '₹497',
 '₹269',
 '₹149',
 '₹259']

In [71]:
discount=[]
for page in range(0,3):
    d=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in d:
        discount.append(i.text)

In [72]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(5)

In [73]:
len(discount)

120

In [74]:
discount=discount[0:100]
discount

['77% off',
 '80% off',
 '56% off',
 '40% off',
 '40% off',
 '85% off',
 '80% off',
 '63% off',
 '86% off',
 '51% off',
 '81% off',
 '73% off',
 '87% off',
 '87% off',
 '87% off',
 '67% off',
 '75% off',
 '82% off',
 '40% off',
 '85% off',
 '59% off',
 '65% off',
 '25% off',
 '25% off',
 '82% off',
 '77% off',
 '57% off',
 '81% off',
 '80% off',
 '88% off',
 '64% off',
 '71% off',
 '84% off',
 '40% off',
 '88% off',
 '87% off',
 '67% off',
 '74% off',
 '74% off',
 '81% off',
 '77% off',
 '80% off',
 '56% off',
 '40% off',
 '40% off',
 '85% off',
 '80% off',
 '63% off',
 '86% off',
 '51% off',
 '81% off',
 '73% off',
 '87% off',
 '87% off',
 '87% off',
 '67% off',
 '75% off',
 '82% off',
 '40% off',
 '85% off',
 '59% off',
 '65% off',
 '25% off',
 '25% off',
 '82% off',
 '77% off',
 '57% off',
 '81% off',
 '80% off',
 '88% off',
 '64% off',
 '71% off',
 '84% off',
 '40% off',
 '88% off',
 '87% off',
 '67% off',
 '74% off',
 '74% off',
 '81% off',
 '77% off',
 '80% off',
 '56% off',
 '40% off',
 '40% off',
 '85% off',
 '80% off',
 '63% off',
 '86% off',
 '51% off',
 '81% off',
 '73% off',
 '87% off',
 '87% off',
 '87% off',
 '67% off',
 '75% off',
 '82% off',
 '40% off',
 '85% off']

In [75]:
print(len(brand),len(Product_Description),len(Price),len(discount))

100 100 100 100

In [76]:
df=pd.DataFrame({'brand':brand,'Product_Decription':Product_Description,'Price':Price,'discount':discount})
df

,brand,Product_Decription,Price,discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹549,77% off
1,ROZZETTA CRAFT,"UV Protection, Riding Glasses Cat-eye Sunglass...",₹399,80% off
2,LIZA ANGEL,"Polarized, UV Protection Retro Square, Over-si...",₹489,56% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹129,40% off
4,Elligator,UV Protection Shield Sunglasses (Free Size),₹149,40% off
...,...,...,...,...
95,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹149,67% off
96,TheWhoop,"UV Protection, Gradient Retro Square Sunglasse...",₹497,75% off
97,ROZZETTA CRAFT,"by Lenskart Polarized, UV Protection Cat-eye S...",₹269,82% off
98,Elligator,UV Protection Wayfarer Sunglasses (Free Size),₹149,40% off
99,New Specs,UV Protection Cat-eye Sunglasses (Free Size),₹259,85% off

##### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

##### Answer-5

In [97]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [98]:
#Opening the naukri page on automated chrome browser

driver.get ("https://www.flipkart.com/")

In [116]:
remove_window=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div/button')

In [117]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('iphone11')

In [118]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [150]:
rating=[]
for page in range(0,10):
    a=driver.find_elements(By.XPATH,'//div[@class="_3LWZ1K _1BLPMq"]')
    for i in a:
        rating.append(i.next)

In [151]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(3)

In [152]:
rating=rating[0:100]

In [153]:
rating

[]

In [154]:
Review_summary=[]
for page in range(0,10):
    b=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in b:
        Review_summary.append(i.text)

In [155]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(3)

In [156]:
Review_summary=Review_summary[0:100]
Review_summary

['Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Great product',
 'Simply awesome',
 'Must buy!',
 'Good quality product',
 'Perfect product!']

In [158]:
Full_Review=[]
for page in range(0,10):
    b=driver.find_elements(By.XPATH,'//div[@class="t_ZTKy"]')
    for i in b:
        Full_Review.append(i.text)

In [159]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(3)

In [160]:
Full_Review=Full_Review[0:100]
Full_Review

[]

##### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

##### Answer-6

In [163]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [164]:
#Opening the naukri page on automated chrome browser

driver.get ("https://www.flipkart.com/")

In [165]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sneakers')

In [166]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [167]:
brand=[]

In [168]:
#scraping the brand of the product

for page in range(0,3):
    a=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in a:
        brand.append(i.text)
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(3)

In [169]:
len(brand)

120

In [170]:
brand=brand[0:100]

In [171]:
#creating the dataframe from above data.
df=pd.DataFrame({'brand':brand})

In [172]:
df

                  brand
0                Labbin
1                   SFR
2                Labbin
3                Shozie
4                   SFR
..                  ...
95  World Wear Footwear
96                  SFR
97               Bantox
98                   TR
99            Deals4you

[100 rows x 1 columns]

In [173]:
Product_Description=[]
for page in range(0,3):
    b=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in b:
        Product_Description.append(i.text)

In [174]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [178]:
len(Product_Description)

111

In [179]:
Product_Description=Product_Description[0:100]

In [180]:
#creating the dataframe from above data.
df=pd.DataFrame({'Product_Description':Product_Description})

In [181]:
df

                                  Product_Description
0                                    Sneakers For Men
1                                    Sneakers For Men
2                                  Sneakers For Women
3   2003 Trenddy Fashion Sporty Casuals Sneakers R...
4                                    Sneakers For Men
..                                                ...
95  Perfect Stylish Casual Shoes For Girls & Women...
96           WATERPROOF-05cFULLBLACK Sneakers For Men
97  PLANCK Smart Blue Lace-Ups Casuals Sneakers Sn...
98                                   Sneakers For Men
99  Walking Shoes for Men | Running Shoes | Casual...

[100 rows x 1 columns]

In [175]:
Price=[]
for page in range(0,3):
    c=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in c:
        Price.append(i.text)

In [176]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [182]:
len(Price)

120

In [183]:
Price=Price[0:100]

In [184]:
Price

['₹599',
 '₹2,294',
 '₹399',
 '₹295',
 '₹199',
 '₹299',
 '₹229',
 '₹499',
 '₹359',
 '₹299',
 '₹599',
 '₹299',
 '₹269',
 '₹549',
 '₹360',
 '₹259',
 '₹2,067',
 '₹599',
 '₹581',
 '₹398',
 '₹580',
 '₹2,659',
 '₹499',
 '₹449',
 '₹1,324',
 '₹299',
 '₹849',
 '₹699',
 '₹449',
 '₹439',
 '₹779',
 '₹699',
 '₹657',
 '₹199',
 '₹597',
 '₹299',
 '₹499',
 '₹499',
 '₹419',
 '₹439',
 '₹599',
 '₹2,294',
 '₹399',
 '₹295',
 '₹199',
 '₹299',
 '₹229',
 '₹499',
 '₹359',
 '₹299',
 '₹599',
 '₹299',
 '₹269',
 '₹549',
 '₹360',
 '₹259',
 '₹2,067',
 '₹599',
 '₹581',
 '₹398',
 '₹580',
 '₹2,659',
 '₹499',
 '₹449',
 '₹1,324',
 '₹299',
 '₹849',
 '₹699',
 '₹449',
 '₹439',
 '₹779',
 '₹699',
 '₹657',
 '₹199',
 '₹597',
 '₹299',
 '₹499',
 '₹499',
 '₹419',
 '₹439',
 '₹599',
 '₹2,294',
 '₹399',
 '₹295',
 '₹199',
 '₹299',
 '₹229',
 '₹499',
 '₹359',
 '₹299',
 '₹599',
 '₹299',
 '₹269',
 '₹549',
 '₹360',
 '₹259',
 '₹2,067',
 '₹599',
 '₹581',
 '₹398']

In [185]:
discount=[]
for page in range(0,3):
    d=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in d:
        discount.append(i.text)
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [186]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()
time.sleep(4)

In [188]:
len(discount)

120

In [189]:
discount=discount[0:100]

In [190]:
print(len(brand),len(Product_Description),len(Price),len(discount))

100 100 100 100

In [191]:
df=pd.DataFrame({'brand':brand,'Product_Decription':Product_Description,'Price':Price,'discount':discount})
df

,brand,Product_Decription,Price,discount
0,Labbin,Sneakers For Men,₹599,40% off
1,SFR,Sneakers For Men,"₹2,294",70% off
2,Labbin,Sneakers For Women,₹399,60% off
3,Shozie,2003 Trenddy Fashion Sporty Casuals Sneakers R...,₹295,70% off
4,SFR,Sneakers For Men,₹199,66% off
...,...,...,...,...
95,World Wear Footwear,Perfect Stylish Casual Shoes For Girls & Women...,₹259,82% off
96,SFR,WATERPROOF-05cFULLBLACK Sneakers For Men,"₹2,067",55% off
97,Bantox,PLANCK Smart Blue Lace-Ups Casuals Sneakers Sn...,₹599,40% off
98,TR,Sneakers For Men,₹581,76% off
99,Deals4you,Walking Shoes for Men | Running Shoes | Casual...,₹398,60% off

##### Q7: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

##### Answer-7

In [274]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [275]:
driver.get ('https://www.amazon.in')

In [276]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [277]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [278]:
Title=[]
for i in driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
    Title.append(i.text)
Title=Title[0:11]
Title

['HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'HP Victus 12th Gen Intel Core i7 15.6 inch(39.6 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/RTX 3050 4GB Graphics/144Hz/9ms Response Time/Win 11/MSO/Backlit KB/B&O Audio/Xbox Pass(30 Day)),15-fa0353TX',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 'HP Victus Gaming Latest 12th Gen Intel Core i7 15.6 inch(39.6 cm) FHD Gaming Laptop (8GB RAM/512GB SSD/RTX 3050 4GB Graphics/144Hz/9ms Response Time/Win 11/MSO/BL KB/B&O/Alexa/Xbox Pass),15-fa0073TX',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'Acer Nitro 5 Gaming Laptop Intel core i7 11th Gen (16 GB/ 512 GB SSD/ NVIDIA® GeForce RTX 3050 Ti/ Windows 11 Home/144hz) AN515-57 with 39.6 cm (15.6 inches) IPS Display / 2.2 Kgs',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDDR5, 512GB SSD, Integrated, 13.3" (33.78Cms) QHD+ WVA AG 300 nits, Win 11+ MSO\'21, Platinum Silver (D560754WIN9S, 1.25Kgs)',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)']

In [279]:
Rating=[]
for i in driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]'):
    Rating.append(i.text)
Rating=Rating[0:11]
Rating

['', '', '', '', '', '', '', '', '', '', '']

In [280]:
Price=[]
for i in driver.find_elements(By.XPATH,'//span[@class="a-price"]'):
    Price.append(i.text)
Price=Price[0:11]
Price

['₹82,490',
 '₹1,00,090',
 '₹95,546',
 '₹82,990',
 '₹82,490',
 '₹89,000',
 '₹79,990',
 '₹82,490',
 '₹79,990',
 '₹87,900',
 '₹24,939']

In [281]:
df=pd.DataFrame({'Title':Title,'Rating':Rating,'Price':Price})
df

                                                Title Rating      Price
0   HP Pavilion x360 11th Gen Intel Core i7 14 inc...           ₹82,490
1   HP Victus 12th Gen Intel Core i7 15.6 inch(39....         ₹1,00,090
2   HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...           ₹95,546
3   Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...           ₹82,990
4   HP Victus Gaming Latest 12th Gen Intel Core i7...           ₹82,490
5   HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...           ₹89,000
6   Acer Nitro 5 Gaming Laptop Intel core i7 11th ...           ₹79,990
7   HP Pavilion x360 11th Gen Intel Core i7 14 inc...           ₹82,490
8   Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...           ₹79,990
9   Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...           ₹87,900
10  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...           ₹24,939

##### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [230]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [231]:
driver.get ('https://www.azquotes.com')

In [232]:
Quote=[]
for i in driver.find_elements(By.CLASS_NAME,"title"):
    Quote.append(i.text)
Quote=Quote[0:1001]
Quote

['Authors:',
 'The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.",
 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.',
 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.',
 "Once you replace negative thoughts with positive ones, you'll start having positive results.",
 "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.",
 'All my life through, the new sights of Nature made me rejoice like a child.',
 "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.",
 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.',
 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.',
 'Time you enjoy wasting, was not wasted.',
 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.',
 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.',
 "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.",
 'I say that the most liberating thing about beauty is realizing that you are the beholder.',
 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.',
 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.',
 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.',
 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.',
 'I am a Soldier, I fight where I am told, and I win where I fight.',
 "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.",
 "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.",
 'Expect the best. Prepare for the worst. Capitalize on what comes.',
 'I became insane, with long intervals of horrible sanity.',
 'Failure is a detour, not a dead-end street.',
 'I am not a product of my circumstances. I am a product of my decisions.',
 'You can cut all the flowers but you cannot keep spring from coming.',
 "Life doesn't run away from nobody. Life runs at people.",
 'In order to succeed, your desire for success should be greater than your fear of failure.',
 "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.",
 'Too many of us are not living our dreams because we are living our fears.',
 'If the only prayer you ever say in your entire life is thank you, it will be enough.',
 "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.",
 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.',
 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.',
 'This is one small step for a man, one giant leap for mankind.',
 "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.",
 "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.",
 "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.",
 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!',
 "Failure is not the opposite of success; it's part of success.",
 'No one has ever become poor by giving.',
 'It is not my ability, but my response to God’s ability, that counts.',
 'No matter what people tell you, words and ideas can change the world.',
 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.',
 'A man should never neglect his family for business.',
 'Those who dare to fail miserably can achieve greatly.',
 'The two most important days in your life are the day you are born and the day you find out why.',
 'We must be global Christians with a global vision because our God is a global God.',
 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.',
 'Don’t let the noise of others’ opinions drown out your own inner voice.',
 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.',
 "How old would you be if you didn't know how old you are?",
 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.',
 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.',
 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.',
 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.',
 'When the going gets weird, the weird turn pro.',
 "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.",
 'If you think you are too small to make a difference, try sleeping with a mosquito.',
 "God doesn't require us to succeed, he only requires that you try.",
 'Change your thoughts and you change your world.',
 '',
 '',
 '']

In [233]:
Author=[]
for i in driver.find_elements(By.CLASS_NAME,"author"):
    Author.append(i.text)
Author=Author[0:1001]
Author

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck',
 'John Wooden',
 'Albert Einstein',
 'Frank Zappa',
 'William Faulkner',
 'Will Rogers',
 'Jimmy Carter',
 'Albert Einstein',
 'Abraham Lincoln',
 'Steven Weinberg',
 'Franklin D. Roosevelt',
 'Albert Einstein',
 'Maya Angelou',
 'Mark Twain',
 'Theodore Roosevelt',
 'Michael Jackson',
 'Martin Luther King, Jr.',
 'C. S. Lewis',
 'Theodore Roosevelt',
 'Mark Twain',
 'Abraham Lincoln',
 'Ruth Graham',
 'C. S. Lewis',
 'Groucho Marx',
 'John Lennon',
 'Barbara Bush',
 'Albert Einstein',
 'Francis Chan',
 'Henry Ford',
 'Victor Hugo',
 'Abu Bakr',
 'Zig Ziglar',
 'Winston Churchill',
 'Zig Ziglar',
 'John F. Kennedy',
 'Dwight D. Eisenhower',
 'Winston Churchill',
 'Albert Einstein',
 'Willie Nelson',
 'Johnny Cash',
 'Marie Curie',
 'Maya Angelou',
 'Amy Bloom',
 'Zig Ziglar',
 'John Lennon',
 'Thomas Sowell',
 'Max Lucado',
 'Martin Luther King, Jr.',
 'Salma Hayek',
 'Thomas Sowell',
 'Martin Luther King, Jr.',
 'Douglas MacArthur',
 'Douglas MacArthur',
 'George S. Patton',
 'Corrie Ten Boom',
 'Jim Courier',
 'Zig Ziglar',
 'Edgar Allan Poe',
 'Zig Ziglar',
 'Stephen Covey',
 'Pablo Neruda',
 'Joe Frazier',
 'Bill Cosby',
 'Lewis Grizzard',
 'Les Brown',
 'Meister Eckhart',
 'Muhammad Ali',
 'John C. Maxwell',
 'Thomas A. Edison',
 'Neil Armstrong',
 'Rose Kennedy',
 'Martin Luther',
 'Ronald Reagan',
 'Andrew Murray',
 'Arianna Huffington',
 'Anne Frank',
 'Corrie Ten Boom',
 'Robin Williams',
 'Nelson Mandela',
 'Walt Disney',
 'John F. Kennedy',
 'Mark Twain',
 'John Stott',
 'Wayne Dyer',
 'Steve Jobs',
 'Maya Angelou',
 'Satchel Paige',
 'Mwai Kibaki',
 'Roald Dahl',
 'Robert H. Schuller',
 'Bill Vaughan',
 'Hunter S. Thompson',
 'Corrie Ten Boom',
 'Dalai Lama',
 'Mother Teresa',
 'Norman Vincent Peale']

In [234]:
Type_of_Quote=[]
for i in driver.find_elements(By.CLASS_NAME,"tags"):
    Type_of_Quote.append(i.text)
Type_of_Quote=Type_of_Quote[0:1001]
Type_of_Quote

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning',
 'Strong, Thoughtful, Compassion',
 'Love, Funny, Life',
 'Freedom, Men, Democracies Have',
 'God, Religious, Atheist',
 'Respect, Kindness, Character',
 'Inspirational, Motivational, Change',
 'Inspirational, Life, Inspiring',
 'Love, Inspirational, Life',
 'Inspiring, Country, 4th Of July',
 'Inspirational, Dream, Hate',
 'Love, Inspirational, Life',
 'Forgiveness, God, Christian',
 'Country, Men, Squares',
 'Inspirational, Relationship, Positive',
 'Inspirational, Motivational, Positive',
 'Love, Friendship, Relationship',
 'Faith, God, Christian',
 'Art, Freedom, Political Will',
 'Inspirational, Life, Faith',
 'Inspirational, Life, Meaningful',
 'Happiness, Time, Clever',
 'Inspirational, Inspiring, Success',
 'Love, Inspirational, Life',
 'Music, Sound And Music, Musical Life',
 'Adversity, Blow, Action',
 'Positive, Thinking Of You, Attitude',
 'Inspirational, Funny, Life',
 'Inspirational, Life, Motivational',
 'Inspirational, Memorial Day, Freedom',
 'Freedom, Patriotic, Vaccines',
 'Philosophy, Ignorance, Democratic Socialism',
 'Inspirational, Dance, Education',
 'Life, Change, Positive',
 'Life, Bullying, Mistake',
 'Life, Nature, Children',
 'Inspirational, Life, Motivational',
 'Marriage, Love You, Long',
 'Inspirational, Motivational, Success',
 'Love, Inspirational, Life',
 'Diversity, Important, Liberty',
 'Inspirational, God, Faith',
 'Inspirational, Motivational, Inspiring',
 'Beauty, Love Yourself, Your Beautiful',
 'Business, Stupid, Government',
 'Inspirational, Life, Motivational',
 'Peace, Military, War',
 'Inspirational, Leadership, Confidence',
 'Motivational, Military, War',
 'Christian, Jesus, Confusing',
 'Inspirational, Success, Sports',
 'Inspirational, Motivational, Success',
 'Inspirational, Life, Clever',
 'Inspirational, Death, Failure',
 'Inspirational, Life, Motivational',
 'Inspiring, Hope, Spring',
 'Motivational, Running, People',
 'Inspirational, Motivational, Positive',
 'Summer, Food, Garden',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Thank You',
 'Funny, Sports, Jobs',
 'Being Strong, Wisdom, Stay Strong',
 'Inspirational, Motivational, Positive',
 'Motivational, Positive, Moon',
 'Time, Pain, Get Well',
 'Life, God, Christian',
 'President, Needs, Purpose',
 'God, Faith, Christian',
 'Women, Failure, Successful',
 'Inspirational, Morning, Kindness',
 'Hiding Place, Ability, Baby Boom',
 'Inspirational, Change, Philosophy',
 'Love, Inspirational, Life',
 'Inspirational, Family, Inspiring',
 'Inspirational, Success, Courage',
 'Inspirational, Life, Motivational',
 'Christian, Vision, Missionary',
 'Inspirational, Positive, Regret',
 'Love, Inspirational, Life',
 'Inspirational, Life, Encouragement',
 'Happy Birthday, Baseball, Fun',
 'Leadership, Power, Opportunity',
 'Inspirational, Life, Positive',
 'Inspirational, Encouraging, Patience',
 'New Year, Fun, New Beginnings',
 'Music, Sports, Hunting',
 'Trust, Encouraging, Uplifting',
 'Inspirational, Funny, Change',
 'Success, God, Mother',
 'Inspirational, Motivational, Change']

In [238]:
#creating the dataframe from above data.
print({'Quote':Quote,'Author':Author,'Type_of_Quote':Type_of_Quote})

{'Quote': ['Authors:', 'The essence of strategy is choosing what not to do.', 'One cannot and must not try to erase the past merely because it does not fit the present.', 'Patriotism means to stand by the country. It does not mean to stand by the president.', 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.', 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.', 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.', 'Weak people revenge. Strong people forgive. Intelligent People Ignore.', "A mind is like a parachute. It doesn't work if it is not open.", 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.', 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.', "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.", 'The difference between stupidity and genius is that genius has its limits.', 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.', 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.', 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.', 'A person who never made a mistake never tried anything new.', 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style', 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.', 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.', 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.', 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.', 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.', 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.', 'Kindness is the language which the deaf can hear and the blind can see.', 'Most folks are as happy as they make up their minds to be.', 'A happy marriage is the union of two good forgivers.', 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.', 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.', "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?", 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.', 'I never think of the future - it comes soon enough.', "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.", 'Failure is simply the opportunity to begin again, this time more intelligently.', 'Music expresses that which cannot be put into words.', 'Good actions are a guard against the blows of adversity.', 'Positive thinking will let you do everything better than negative thinking will.', "You have enemies? Good. That means you've stood up for something, sometime in your life.", "You don't have to be great to start, but you have to start to be great", 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.', "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.", 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.', 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.', "Once you replace negative thoughts with positive ones, you'll start having positive results.", "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.", 'All my life through, the new sights of Nature made me rejoice like a child.', "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.", 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.', 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.', 'Time you enjoy wasting, was not wasted.', 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.', 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.', "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.", 'I say that the most liberating thing about beauty is realizing that you are the beholder.', 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.', 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.', 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.', 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.', 'I am a Soldier, I fight where I am told, and I win where I fight.', "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.", "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.", 'Expect the best. Prepare for the worst. Capitalize on what comes.', 'I became insane, with long intervals of horrible sanity.', 'Failure is a detour, not a dead-end street.', 'I am not a product of my circumstances. I am a product of my decisions.', 'You can cut all the flowers but you cannot keep spring from coming.', "Life doesn't run away from nobody. Life runs at people.", 'In order to succeed, your desire for success should be greater than your fear of failure.', "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.", 'Too many of us are not living our dreams because we are living our fears.', 'If the only prayer you ever say in your entire life is thank you, it will be enough.', "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.", 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.', 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.', 'This is one small step for a man, one giant leap for mankind.', "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.", "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.", "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.", 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!', "Failure is not the opposite of success; it's part of success.", 'No one has ever become poor by giving.', 'It is not my ability, but my response to God’s ability, that counts.', 'No matter what people tell you, words and ideas can change the world.', 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.', 'A man should never neglect his family for business.', 'Those who dare to fail miserably can achieve greatly.', 'The two most important days in your life are the day you are born and the day you find out why.', 'We must be global Christians with a global vision because our God is a global God.', 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.', 'Don’t let the noise of others’ opinions drown out your own inner voice.', 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.', "How old would you be if you didn't know how old you are?", 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.', 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.', 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.', 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.', 'When the going gets weird, the weird turn pro.', "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.", 'If you think you are too small to make a difference, try sleeping with a mosquito.', "God doesn't require us to succeed, he only requires that you try.", 'Change your thoughts and you change your world.', '', '', ''], 'Author': ['Michael Porter', 'Golda Meir', 'Theodore Roosevelt', 'Nelson Mandela', 'Erma Bombeck', 'John Wooden', 'Albert Einstein', 'Frank Zappa', 'William Faulkner', 'Will Rogers', 'Jimmy Carter', 'Albert Einstein', 'Abraham Lincoln', 'Steven Weinberg', 'Franklin D. Roosevelt', 'Albert Einstein', 'Maya Angelou', 'Mark Twain', 'Theodore Roosevelt', 'Michael Jackson', 'Martin Luther King, Jr.', 'C. S. Lewis', 'Theodore Roosevelt', 'Mark Twain', 'Abraham Lincoln', 'Ruth Graham', 'C. S. Lewis', 'Groucho Marx', 'John Lennon', 'Barbara Bush', 'Albert Einstein', 'Francis Chan', 'Henry Ford', 'Victor Hugo', 'Abu Bakr', 'Zig Ziglar', 'Winston Churchill', 'Zig Ziglar', 'John F. Kennedy', 'Dwight D. Eisenhower', 'Winston Churchill', 'Albert Einstein', 'Willie Nelson', 'Johnny Cash', 'Marie Curie', 'Maya Angelou', 'Amy Bloom', 'Zig Ziglar', 'John Lennon', 'Thomas Sowell', 'Max Lucado', 'Martin Luther King, Jr.', 'Salma Hayek', 'Thomas Sowell', 'Martin Luther King, Jr.', 'Douglas MacArthur', 'Douglas MacArthur', 'George S. Patton', 'Corrie Ten Boom', 'Jim Courier', 'Zig Ziglar', 'Edgar Allan Poe', 'Zig Ziglar', 'Stephen Covey', 'Pablo Neruda', 'Joe Frazier', 'Bill Cosby', 'Lewis Grizzard', 'Les Brown', 'Meister Eckhart', 'Muhammad Ali', 'John C. Maxwell', 'Thomas A. Edison', 'Neil Armstrong', 'Rose Kennedy', 'Martin Luther', 'Ronald Reagan', 'Andrew Murray', 'Arianna Huffington', 'Anne Frank', 'Corrie Ten Boom', 'Robin Williams', 'Nelson Mandela', 'Walt Disney', 'John F. Kennedy', 'Mark Twain', 'John Stott', 'Wayne Dyer', 'Steve Jobs', 'Maya Angelou', 'Satchel Paige', 'Mwai Kibaki', 'Roald Dahl', 'Robert H. Schuller', 'Bill Vaughan', 'Hunter S. Thompson', 'Corrie Ten Boom', 'Dalai Lama', 'Mother Teresa', 'Norman Vincent Peale'], 'Type_of_Quote': ['Essence, Deep Thought, Transcendentalism', 'Inspiration, Past, Trying', 'Country, Peace, War', 'Inspirational, Motivational, Death', '4th Of July, Food, Patriotic', 'Inspirational, Success, Basketball', 'Strong, Revenge, Intelligent', 'Inspirational, Teacher, Religious', 'Truth, Honesty, Lying', 'Funny, Reading, Learning', 'Strong, Thoughtful, Compassion', 'Love, Funny, Life', 'Freedom, Men, Democracies Have', 'God, Religious, Atheist', 'Respect, Kindness, Character', 'Inspirational, Motivational, Change', 'Inspirational, Life, Inspiring', 'Love, Inspirational, Life', 'Inspiring, Country, 4th Of July', 'Inspirational, Dream, Hate', 'Love, Inspirational, Life', 'Forgiveness, God, Christian', 'Country, Men, Squares', 'Inspirational, Relationship, Positive', 'Inspirational, Motivational, Positive', 'Love, Friendship, Relationship', 'Faith, God, Christian', 'Art, Freedom, Political Will', 'Inspirational, Life, Faith', 'Inspirational, Life, Meaningful', 'Happiness, Time, Clever', 'Inspirational, Inspiring, Success', 'Love, Inspirational, Life', 'Music, Sound And Music, Musical Life', 'Adversity, Blow, Action', 'Positive, Thinking Of You, Attitude', 'Inspirational, Funny, Life', 'Inspirational, Life, Motivational', 'Inspirational, Memorial Day, Freedom', 'Freedom, Patriotic, Vaccines', 'Philosophy, Ignorance, Democratic Socialism', 'Inspirational, Dance, Education', 'Life, Change, Positive', 'Life, Bullying, Mistake', 'Life, Nature, Children', 'Inspirational, Life, Motivational', 'Marriage, Love You, Long', 'Inspirational, Motivational, Success', 'Love, Inspirational, Life', 'Diversity, Important, Liberty', 'Inspirational, God, Faith', 'Inspirational, Motivational, Inspiring', 'Beauty, Love Yourself, Your Beautiful', 'Business, Stupid, Government', 'Inspirational, Life, Motivational', 'Peace, Military, War', 'Inspirational, Leadership, Confidence', 'Motivational, Military, War', 'Christian, Jesus, Confusing', 'Inspirational, Success, Sports', 'Inspirational, Motivational, Success', 'Inspirational, Life, Clever', 'Inspirational, Death, Failure', 'Inspirational, Life, Motivational', 'Inspiring, Hope, Spring', 'Motivational, Running, People', 'Inspirational, Motivational, Positive', 'Summer, Food, Garden', 'Inspirational, Life, Motivational', 'Inspirational, Life, Thank You', 'Funny, Sports, Jobs', 'Being Strong, Wisdom, Stay Strong', 'Inspirational, Motivational, Positive', 'Motivational, Positive, Moon', 'Time, Pain, Get Well', 'Life, God, Christian', 'President, Needs, Purpose', 'God, Faith, Christian', 'Women, Failure, Successful', 'Inspirational, Morning, Kindness', 'Hiding Place, Ability, Baby Boom', 'Inspirational, Change, Philosophy', 'Love, Inspirational, Life', 'Inspirational, Family, Inspiring', 'Inspirational, Success, Courage', 'Inspirational, Life, Motivational', 'Christian, Vision, Missionary', 'Inspirational, Positive, Regret', 'Love, Inspirational, Life', 'Inspirational, Life, Encouragement', 'Happy Birthday, Baseball, Fun', 'Leadership, Power, Opportunity', 'Inspirational, Life, Positive', 'Inspirational, Encouraging, Patience', 'New Year, Fun, New Beginnings', 'Music, Sports, Hunting', 'Trust, Encouraging, Uplifting', 'Inspirational, Funny, Change', 'Success, God, Mother', 'Inspirational, Motivational, Change']}

##### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

##### Answer-9

In [370]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [371]:
driver.get ('https://www.jagranjosh.com/')

In [372]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
search.click()

In [373]:
search=driver.find_element(By.XPATH,'//html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search.click()

In [401]:
Name=[]
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[2]'):
    Name.append(i.text)
Name=Name
Name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [410]:
Born_Dead=[]
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[3]'):
    Born_Dead.append(i.text)
Born_Dead=Born_Dead
Born_Dead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [413]:
Term_of_office=[]
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[4]'):
    Term_of_office.append(i.text)
Term_of_office=Term_of_office
Term_of_office

['15 August 1947 to 27 May 1964\n16 years, 286 days',
 '27 May 1964 to 9 June 1964,\n13 days',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 '11 January 1966 to 24 January 1966\n13 days',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 '28 July 1979 to 14 January 1980\n170 days',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 '2 December 1989 to 10 November 1990\n343 days',
 '10 November 1990 to 21 June 1991\n223 days',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 '16 May 1996 to 1 June 1996\n16 days',
 '1 June 1996 to 21 April 1997\n324 days',
 '21 April 1997 to 19 March 1998 \n332 days',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 '26 May 2014 - Present']

In [414]:
Remark=[]
for i in driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/td[5]'):
    Remark.append(i.text)
Remark=Remark
Remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [415]:
df=pd.DataFrame({'Name':Name,'Born_Dead':Born_Dead,'Term_of_office':Term_of_office,'Remark':Remark})

In [416]:
df

,Name,Born_Dead,Term_of_office,Remark
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

##### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name ,Description and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the

##### Answer-10

In [282]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [284]:
driver.get ('https://www.motor1.com/')

In [286]:
product=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
product.send_keys('50 most expensive cars in the world')

In [288]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [335]:
#scraping the brand of the product
Brand=[]
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/h3'):
    Brand.append(i.text)
Brand=Brand[0:50]
Price

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [345]:
Price=[]
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p/strong'):
    Price.append(i.text)
Price=Price[0:50]
Price

['Price: $1.2 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million']

In [347]:
df=pd.DataFrame({'Brand':Brand,'Price':Price})

In [348]:
df

                              Brand                 Price
0                         Drako GTE   Price: $1.2 Million
1                     De Tomaso P72   Price: $1.3 Million
2                 Ferrari LaFerrari   Price: $1.4 Million
3                     Pagani Huayra   Price: $1.4 Million
4                      McLaren Elva
5                       Czinger 21C   Price: $1.7 Million
6                     Ferrari Monza   Price: $1.7 Million
7                Gordon Murray T.33   Price: $1.7 Million
8                 Koenigsegg Gemera   Price: $1.7 Million
9                       Zenvo TSR-S   Price: $1.7 Million
10               Hennessey Venom F5   Price: $1.7 Million
11                  Bentley Bacalar   Price: $1.8 Million
12    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
13           Bentley Mulliner Batur   Price: $1.9 Million
14                     Deus Vayanne   Price: $2.0 Million
15                      SSC Tuatara   Price: $2.0 Million
16                      Lotus Evija  Price: $2.0 Million*
17              Aston Martin Vulcan   Price: $2.1 Million
18                       Delage D12   Price: $2.3 Million
19                McLaren Speedtail   Price: $2.3 Million
20                     Rimac Nevera   Price: $2.3 Million
21                    Pagani Utopia   Price: $2.4 Million
22             Pininfarina Battista   Price: $2.5 Million
23                Ferrari FXX K Evo   Price: $2.5 Million
24               Gordon Murray T.50   Price: $2.6 Million
25             Lamborghini Countach   Price: $2.6 Million
26         Mercedes-AMG Project One   Price: $2.6 Million
27              Aston Martin Victor   Price: $2.7 Million
28      Hennessey Venom F5 Roadster   Price: $3.0 Million
29                 Koenigsegg Jesko          $3.0 Million
30            Aston Martin Valkyrie   Price: $3.0 Million
31        W Motors Lykan Hypersport   Price: $3.2 Million
32                    McLaren Solus   Price: $3.4 Million
33        Pagani Huayra Roadster BC          $3.5 Million
34         Bugatti Chiron Pur Sport   Price: $3.5 Million
35                 Lamborghini Sian   Price: $3.6 Million
36                 Koenigsegg CC850   Price: $3.6 million
37  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
38               Lamborghini Veneno   Price: $3.9 Million
39                   Bugatti Bolide   Price: $4.5 Million
40                  Bugatti Mistral   Price: $4.7 Million
41              Pagani Huayra Imola   Price: $5.0 Million
42                     Bugatti Divo   Price: $5.4 Million
43              SP Automotive Chaos   Price: $5.8 Million
44                 Pagani Codalunga   Price: $6.4 Million
45         Mercedes-Maybach Exelero   Price: $7.4 Million
46               Bugatti Centodieci   Price: $8.0 Million
47             Rolls-Royce Sweptail   Price: $9.0 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million

##### Thank You