# Assignment-2

In [183]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\hp\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [247]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Now we will download the webDriver for the web Browser.Steps for download are-
1.Check the version of your browser
2.go to the link https://chromedriver.chromium.org/downloads
3.Download the web driver for your version of your browser.

In [3]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\internship\chromedriver.exe")

In [4]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

##### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [5]:
#Opening the naukri page on automated chrome browser
driver.get ("https://www.naukri.com/")

In [6]:
# Entering the designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
#creating the dataframe from above data.
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})

In [13]:
df

,Job_title,job_location,company_name,Exp_required
0,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
2,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
3,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
4,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
5,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs
6,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-7 Yrs
8,Sr Data Analyst - Tableau,Bangalore/Bengaluru,S.A.W IT Services Pvt Ltd,2-5 Yrs
9,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs

##### Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

##### Answer:- 2

In [14]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [15]:
#Opening the naukri page on automated chrome browser

driver.get ("https://www.naukri.com/")

In [16]:
# Entering the designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [17]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [18]:
search=driver.find_element(By.CLASS_NAME,"keywordSugg")
search.click()

In [19]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [24]:
#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [25]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [26]:
#creating the dataframe from above data.
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})

In [27]:
df

,Job_title,job_location,company_name,Exp_required
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
1,Data Scientist,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed...",Tata Nexarc,4-8 Yrs
2,Data Scientist,"Nagpur, Pune, Bangalore/Bengaluru",Tech Mahindra,5-8 Yrs
3,Data Scientist / AI-ML Engineer,Bangalore/Bengaluru,Hitachi Ltd.,3-7 Yrs
4,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS,3-4 Yrs
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs
6,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree,5-10 Yrs
7,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",Bizongo,3-6 Yrs
8,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes,6-8 Yrs
9,Data Science - Engineering Manager,"New Delhi, Bangalore/Bengaluru",Paytm,3-5 Yrs

##### Ques-3 In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

##### Answer-3

In [204]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [205]:
#Opening the naukri page on automated chrome browser

driver.get ("https://www.naukri.com/")

In [206]:
# Entering the designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [207]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [208]:
search=driver.find_element(By.CLASS_NAME,"keywordSugg")
search.click()

In [209]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
job_salary=[]

In [210]:
#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    
#scraping Job salary for the given page
salary_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi salary']")
for i in salary_tags[0:10]:
    sal=i.text
    job_salary.append(sal)

In [211]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(job_salary))

10 10 10 10 10

In [212]:
#creating the dataframe from above data.
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required,'job_salary':job_salary})

In [213]:
df

,Job_title,job_location,company_name,Exp_required,job_salary
0,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs,Not disclosed
1,Data Scientist - Supply Chain,Bangalore/Bengaluru,Cargill,3-5 Yrs,Not disclosed
2,Artificial Intelligence/Computer Vision Engine...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Vicara,1-3 Yrs,Not disclosed
3,Data Scientist/Sr. Data Scientist,Bangalore/Bengaluru,Synechron,5-10 Yrs,Not disclosed
4,Data Scientist,Bangalore/Bengaluru,Infosys,3-6 Yrs,Not disclosed
5,Machine Learning Engineer II,Bangalore/Bengaluru,Swiggy,3-4 Yrs,Not disclosed
6,Data Scientist - 2,Bangalore/Bengaluru,24 7 ai,1-3 Yrs,Not disclosed
7,Job Opportunity For Data Scientists |TIBCO Sof...,Pune,TIBCO,2-5 Yrs,"2,00,000 - 7,00,000 PA."
8,SnapLogic Data Science Practitioner,Mumbai,Accenture,2-4 Yrs,Not disclosed
9,Scientist,Mumbai,Johnson & Johnson,4-8 Yrs,Not disclosed

##### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

##### Answer-4

In [362]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [363]:
#Opening the naukri page on automated chrome browser

driver.get ("https://www.flipkart.com/")

In [364]:
# Entering the products and brand as required in the question-

product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [365]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [366]:
brand_tags=[]

In [367]:
#scraping the brand of the product

brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tags[0:100]:
    brand=i.text
    brand_tags.append(brand)

In [368]:
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_page.click()

In [369]:
len(brand_tags)

80

In [373]:
Brand=brand_tags

In [374]:
#creating the dataframe from above data.
df=pd.DataFrame({'brand_tags':brand_tags})

In [379]:
df

                                           brand_tags
0   <selenium.webdriver.remote.webelement.WebEleme...
1   <selenium.webdriver.remote.webelement.WebEleme...
2   <selenium.webdriver.remote.webelement.WebEleme...
3   <selenium.webdriver.remote.webelement.WebEleme...
4   <selenium.webdriver.remote.webelement.WebEleme...
..                                                ...
75                                          New Specs
76                                          ROYAL SON
77                                      VINCENT CHASE
78                                          Elligator
79                                           Fastrack

[80 rows x 1 columns]