In [26]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\hp\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [27]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Now we will download the webDriver for the web Browser.Steps for download are-
1.Check the version of your browser
2.go to the link https://chromedriver.chromium.org/downloads
3.Download the web driver for your version of your browser.

In [28]:
#let first connect to the driver
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\internship\chromedriver.exe")

In [29]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [30]:
#Opening the naukri page on automated chrome browser
driver.get ("https://www.naukri.com/")

In [31]:
# Entering the designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [32]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [33]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [34]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [35]:
#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [36]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [37]:
#creating the dataframe from above data.
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})

In [38]:
df

,Job_title,job_location,company_name,Exp_required
0,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
1,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
2,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
5,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
6,Senior Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Yallas Technology Solutions Opc,2-7 Yrs
7,Customer Master Data Analyst (SAP SD/MM),Bangalore/Bengaluru,Cyient,2-5 Yrs
8,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
9,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs

##### Answer:- 2

In [49]:
#Let connect tot he driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [50]:
#Opening the naukri page on automated chrome browser

driver.get ("https://www.naukri.com/")

In [62]:
# Entering the designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [63]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [64]:
search=driver.find_element(By.CLASS_NAME,"keywordSugg")
search.click()

In [65]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [68]:
#scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name for the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience for the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [69]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [70]:
#creating the dataframe from above data.
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'company_name':company_name,'Exp_required':experience_required})

In [71]:
df

,Job_title,job_location,company_name,Exp_required
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
1,Data Scientist,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed...",Tata Nexarc,4-8 Yrs
2,Data Scientist,"Nagpur, Pune, Bangalore/Bengaluru",Tech Mahindra,5-8 Yrs
3,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs
4,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree Limited,5-10 Yrs
5,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",Bizongo,3-6 Yrs
6,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes,6-8 Yrs
7,Lead Data Scientist,Bangalore/Bengaluru,Caterpillar Inc,6-9 Yrs
8,Lead Data Scientist,Bangalore/Bengaluru,Lowe's,9-14 Yrs
9,Data Science - Engineering Manager,"New Delhi, Bangalore/Bengaluru",Paytm,3-5 Yrs